VITE_AVATAR_MODE=kaya
VITE_MOCK_API_URL=http://localhost:8787

VITE_KAYA_URL=http://localhost:3000
VITE_KAYA_WORKSPACE_ID=c69c3a07-7977-4335-a27a-35dc8ba3d9bc
VITE_KAYA_WORKFLOW_ID=9fb702bc-f53b-4268-bcf9-1aed9d0525b4
